@font-face {
    font-family: 'MuseoModerno';
    src: url(_fonts/MuseoModerno-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(_fonts/Montserrat-VariableFont_wght.ttf);
}

body{
    background-color: rgba(0, 200, 255, 0.5);
    font-family: 'Montserrat';
}

div#main {
    margin: -20px auto 10px auto;
    width: 900px;
    box-shadow: 0 0 10px black;
    padding: 15px;
    background-color:white;
}

div {
    padding: 10px;
}

h2 {
    color: darkblue;
}

img#logo{
   width: 200px;
   padding: 25px;
   margin-left: auto;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 5px solid gainsboro;

}

header h1{
    margin: auto;
    font-family: 'Montserrat';
    text-shadow: 3px 1px 2px rgba(0,0,0,0.25);
}

h3#subtitulo{
    text-align: justify;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-weight: normal;
}

table#tipos{
    border: 1px solid black;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    
}

table#tipos h2{
    text-align: center;
    margin-left: auto;
}

table#tipos th{
    border: 1px solid black;
    padding: 10px;
}

table#tipos tr td{
    padding: 10px;
}

table#tipos td{
    border: 1px solid black
    
}

li{
    padding: 5px;
}